<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7b51907c-af1b-4daa-a111-764abd9eb57d" Publisher="CN=herberthm" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HomeWork2.WinStoreUI</DisplayName>
    <PublisherDisplayName>Herberth</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HomeWork2.WinStoreUI.App">
      <VisualElements DisplayName="HomeWork2.WinStoreUI" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="HomeWork2.WinStoreUI" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>